<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Talk Tech</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <header>
    <h1><a href="/">Tech Blog</a></h1>
    {{#if isAuthenticated}}
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    {{else}}
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="./logout.handlebars">Login</a></li>
          <li><a href="./logout.handlebars">Signup</a></li>
        </ul>
      </nav>
    {{/if}}
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy; 2023 Tech Blog</p>
  </footer>
</body>
</html>
